.paragrafo-padrao-branco{

  background-color: #F5F5F5;
  margin: 20px;   
  padding: 20px;

}
.paragrafo-estilo-secundario{

background-color: rgb(226, 164, 245);
margin: 20px;   
padding: 20px;

}



