.moda{
    background-color: #BB86FC;
    margin: 20px;   
    padding: 20px;
    text-align: center;
}

.casa{
    background-color: #00C4B4;
    margin: 20px;   
    padding: 20px;
    text-align: center;
}

.linhas{
    background-color: #424250;
    margin: 20px;   
    padding: 20px;
    text-align: center;
}

